---
- name: Pull Docker image
  docker_image:
    name: "{{ hello_world_image_name }}"
    tls_hostname: localhost
    source: pull

- name: Create Docker container
  docker_container:
    name: "{{ hello_world_container_name }}"
    tls_hostname: localhost
    image: "{{ hello_world_image_name }}"
    state: "{{ hello_world_container_state }}"
    ports:
      - "{{ hello_world_container_port }}"
    restart_policy: "{{ hello_world_container_restart_policy }}"
